name: Matrix Config

on: workflow_dispatch

jobs:
    deploy-on-ubunutu:
        runs-on: ubunutu-latest
        steps:
        - name: Echo Docker details
          run: docker info
        - name: Run Images
          run: docker run hello-world
    
    deploy-on-windows:
        runs-on: windows-latest
        steps:
        - name: Echo Docker details
          run: docker info
        - name: Run Images
          run: docker run hello-world