name: Exploring Variables and Secrets

on: push

env: 
  CONTAINER_REGISTRY: docker.io
  DOCKER_USERNAME: beheman77
  IMAGE_NAME: mynginx-heman:v1

jobs:
  docker1:
    runs-on: ubuntu-latest
    steps:
    - name: Docker build
      run: echo docker build docker.io/beheman77/mynginx-heman:v1
  
    - name: Docker login
      run: docker login --username=beheman77 --password=securepassword123

  deploy1:
    needs: docker1
    runs-on: ubuntu-latest
    steps:
    - name: Docker run
      run: docker run -d -p 8080:80 docker.io/beheman77/mynginx-heman:v1

  
  ##Variables at Step Level ###
  docker2:
    runs-on: ubuntu-latest
    steps:
    - name: Docker build
      env: 
         CONTAINER_REGISTRY: docker.io
         DOCKER_USERNAME: beheman77
         IMAGE_NAME: mynginx-heman:v1
      run: echo docker build -t ${{ env.CONTAINER_REGISTRY }}/$DOCKER_USERNAME/$IMAGE_NAME:latest

    - name: Docker login
      env: 
        DOCKER_USERNAME: beheman77
        DOCKER_PASSWORD: securepassword123
      run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

  deploy2:
    runs-on: ubuntu-latest
    needs: docker2
    steps:
    - name: Docker run
      env: 
        CONTAINER_REGISTRY: docker.io
        DOCKER_USERNAME: beheman77
        IMAGE_NAME: mynginx-heman:v1
      run: echo docker build -t ${{ env.CONTAINER_REGISTRY }}/$DOCKER_USERNAME/$IMAGE_NAME:latest
        
##Variables at Job Level ###

  docker3:
    runs-on: ubuntu-latest
    env: 
        CONTAINER_REGISTRY: docker.io
        DOCKER_USERNAME: beheman77
        IMAGE_NAME: mynginx-heman:v1

    steps:
    - name: Docker build
      run: echo docker build -t ${{ env.CONTAINER_REGISTRY }}/$DOCKER_USERNAME/$IMAGE_NAME:latest

    - name: Docker login
      env: 
        DOCKER_USERNAME: beheman77
        DOCKER_PASSWORD: securepassword123
      run: echo docker login --username=$DOCKER_USERNAME --password=$DOCKER_PASSWORD

  deploy3:
    runs-on: ubuntu-latest
    needs: docker3
    env: 
      CONTAINER_REGISTRY: docker.io
      DOCKER_USERNAME: beheman77
      IMAGE_NAME: mynginx-heman:v1
    steps:
    - name: Docker run 
      run: echo docker build -t ${{ env.CONTAINER_REGISTRY }}/$DOCKER_USERNAME/$IMAGE_NAME:latest